<div class="container" id="container">
  <h1>Grocery Items</h1><br>
  <div class="row" *ngFor="let item of grocery_items">
    <ul class=list-group>
      <div class="col-sm-4">
        <li class="list-group-item">{{item.name}}</li>
      </div>
      <div class="col-sm-4">
        <li class="list-group-item">{{item.price}}</li>
      </div>
    </ul>
    <div class="col-sm-4">
      <button class="btn btn-warning" (click)="addToCart(item)">Add to Cart</button>
    </div>
  </div>
</div>

<app-cart [selectedItem]="item"  (changeEmitter)=navigateToCheckout($event)></app-cart>