<div class="container">
  <h1>Payment Gateway</h1>
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>Card Number</td>
        <td><input type="text" name="cardNo" [(ngModel)]="cardNo"></td>
      </tr>
      <tr>
        <td>Name on the card</td>
        <td><input type="text" name="name" [(ngModel)]="name"></td>
      </tr>
      <tr>
        <td>CVV</td>
        <td><input type="password" name="cvv" [(ngModel)]="cvv"></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="payNow()">Pay Now</button>
  <h1>Amount to be paid: {{amount}}</h1><br>
</div>
